<!-- <ion-header>
  <ion-toolbar>
    <ion-title>history_popover</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col size="9.5">
        <p>
          Olit matkustajana<br>15. tammikuuta klo 7.30<br>Anselmi Anssilan kyydissä.<br>Puh. 044 783 4562
        </p>
      </ion-col>
      <ion-col size="2.5">
        <ion-button (click)="ClosePopover()" fill="clear" class="button">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>