ion-content{
    --background: #ffffff;
    --color: #fff;

}

ion-button{
    --background: #2B4FAB;
}

ion-toolbar{
    --background: #449CCE;
    color:#fff;
}

ion-list{
    --background: #69B8C9;
}
a{
    color: #2B4FAB;
}
//VIEWPORT TUTORIAALI
//Tuo "90vw" meinaa sitä, että se <div>in minkä lie leveys
//on aina 90% viewportin, eli ikkunan/ruudun leveydestä.
//max-width estää sitä koko paskaa leviämästä koko tietokoneen
//ruudun leveydeksi.
.boob {
    display:block;
    width: 90vw;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.lol {
    margin-top:15px;
}

.title {
    
    font-weight: bold;
}

h1, p {
    color:black;
    margin:5px;
    text-align: left;
}

a {
    text-align: left
}

.column {float:left;
width:50%;
padding:5px}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.link {
    font-size: 10px;
}

.cartitle {
    color: black;
    font-weight: bold;
}

.linkpad {
    padding-bottom: 50px;
}

.pfp {
    max-width: 75px;
}


//DEBUG MODE - Set to 1px to see div borders.
div {
    border: solid 0px red;
}

.pencil{
    color:#fff;
    height:35px;
    width:35px;
}

.list {
    --background: solid;
    background-color: #6FB4CA;
    margin-top: 5px;
    margin-bottom: 5xp;
    padding-bottom: 7px;
    padding-top: 7px;
}

img {
    border-radius: 50px;
}