<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Asetukset
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="boob ion-text-center ion-align-self-center">
    <h1 class="title lol">Profiili</h1>
    <div class="row">

      <div class="column">
        
        <p>Pena Hulvaton</p>
        <p>Luonnontieteiden lehtori</p>
        <p>OAMK Linnanmaa</p>
      </div>
      <div class="column">
        <img class="pfp" src="..\..\assets\image\avatar.svg">
      </div>
      <div class="linkpad">
      <a [routerLink]="['/edit-profile']">Muokkaa tietoja</a>
    </div>
    </div>

<h1 class="title">Autot</h1>

  </div>

  <div>
    <ion-list lines="none">
      <ion-item class="list">
        <ion-label>
          <h2 class="cartitle">Toyota Corolla</h2>
          <h3>4 paikkaa</h3>
        </ion-label>
        <ion-icon class="pencil" slot="end" name="pencil-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="boob ion-text-center">
    <ion-button [routerLink]="['/add-car']"  >Lisää auto</ion-button>
  </div>

</ion-content>