<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lisää uusi kyyti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item class="margin">
      <ion-label>Kunta</ion-label>
      <ion-input type="text" name="kunta" [(ngModel)]="kunta" required></ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-label>Kaupunginosa</ion-label>
      <ion-input type="text" name="kaupunginosa" [(ngModel)]="kaupunginosa" required></ion-input>
    </ion-item>-->
    <ion-item>
      <ion-label>Osoite</ion-label>
      <ion-input type="text" name="osoite" [(ngModel)]="osoite" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mihin?</ion-label>
      <ion-select [(ngModel)]="kohde" required>
        <ion-select-option value="Teuvo Pakkalan kampus">Teuvo Pakkalan kampus</ion-select-option>
        <ion-select-option value="Linnanmaan kampus">Linnanmaan kampus</ion-select-option>
      </ion-select>
    </ion-item>
    <h3>Lähtöaika?</h3>
    <ion-item>
      <ion-label>Päivä</ion-label>
      <ion-select  [(ngModel)]="paiva" required>
        <ion-select-option value="Maanantai">Maanantai</ion-select-option>
        <ion-select-option value="Tiistai">Tiistai</ion-select-option>
        <ion-select-option value="Keskiviikko">Keskiviikko</ion-select-option>
        <ion-select-option value="Torstai">Torstai</ion-select-option>
        <ion-select-option value="Perjantai">Perjantai</ion-select-option>
        <ion-select-option value="Lauantai">Lauantai</ion-select-option>
        <ion-select-option value="Sunnuntai">Sunnuntai</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Aika</ion-label>
      <ion-input type="time" name="aika" [(ngModel)]="aika" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Auto</ion-label>
      <ion-input type="text" name="auto" [(ngModel)]="auto" required></ion-input>
    </ion-item>
  
  
    <ion-row>
      <ion-col size="7"></ion-col>
      <ion-col size="5">
        <ion-button class="addbutton ion-text-capitalize" (click)="save()">
          Lisää
        </ion-button>
      </ion-col>
      
    </ion-row>
    
  


</ion-content>