<ion-header>
  <ion-toolbar>
    <ion-title>Muokkaa tietoja</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-align-self-center xc">
    <form>
      <div>
        <h3>Käyttäjätiedot</h3>
      </div>
      <div class="boob">
        <ion-item>
          <ion-input type="text" class="ion-text-left" value="{{name}}" placeholder="Nimi..." required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" class="ion-text-left" value="{{prof}}" placeholder="Ammatti..." required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="tel" class="ion-text-left" value="{{phone}}" placeholder="Puhelinnumero..." required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="email" class="ion-text-left" value="{{email}}" placeholder="Sähköpostiosoite..." required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" class="ion-text-left" value="{{address}}" placeholder="Osoite..." required></ion-input>
        </ion-item>

      </div>

      <div class="pfpchange" padding>

        <img class="pfp" src="..\..\assets\image\avatar.svg">


      </div>
      <div class="pfpchange2">
        <a [routerLink]="">Vaihda profiilikuvaa</a>
      </div>

      <div padding>
        <div>
          <ion-button (click)="back();" class="ion-text-capitalize" type="submit">Tallenna</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
