<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Lisää uusi</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row class="tilaa"><ion-col size="8"><h4>Lisää uusi</h4></ion-col>
      <ion-col size="3">
        <ion-button (click)="ClosePopover()" fill="clear" class="button"><ion-icon class="punane" slot="icon-only" name="close-circle"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/add-announcement" fill="clear" class="nappula" color="#449CCE" (click)="ClosePopover()" >Kuski</ion-button>
        <ion-button expand="block" routerLink="/add-reguest" fill="clear" class="nappula" color="#449CCE" (click)="ClosePopover()">Matkustaja</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
