.nappula{
    background-color: #449CCE;
    border-radius: 10px;
    margin-bottom: 10px;
    color:#fff;
}

ion-grid{
    background-color:#ecf4f8;
}

.punane{
    color:#BF1D1D;
}

.button{
    align-content: flex-end;
}