#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-toolbar {
    --background: #449CCE;
    color:#fff;
    
  }
  
  ion-list-header {
    font-size: 16px;
    font-weight: bold;
    margin-top:15px;
  }
  
  ion-avatar {
    max-width: 100%;
    max-height: 100%;
    width:55px;
    height:55px;
    align-content: center;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    width:55px;
    height:55px;
    align-items: center;
  }
  
  .list {
    --background: solid;
    background-color: #6FB4CA;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .light {
    background-color: #C4DDEB;
  }
  
  .smaller {
    max-width: 100%;
    max-height: 100%;
    width:45px;
    height:45px;
  }
  
  .blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  .info{
    color:white;
    width:40px;
    height:40px;
  }