<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Historia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

     <ion-list-header>
      <h2><b>Kimppakyyti historia</b></h2>
    </ion-list-header>


    <ion-list lines="none">

      <ion-item class="list">
        <ion-avatar  slot="start"> <img src="..\..\assets\image\avatar.svg"></ion-avatar>
        <ion-label>
          <h2>24. tammikuuta 2020 klo 7.30</h2>
          <h2>Kaijonharjusta</h2>
          <h2>Kontinkankaan kampukselle</h2>
        </ion-label>
        <ion-icon (click)="CreatePopover()" slot="end" class="info" name="information-circle"></ion-icon>
      </ion-item>


      <ion-item class="list">
        <ion-avatar slot="start"> <img src="..\..\assets\image\avatar.svg"></ion-avatar>
        <ion-label>
          <h2>15. tammikuuta 2020 klo 7.30</h2>
          <h2>Välivainiosta</h2>
          <h2>Kontinkankaan kampukselle</h2>
        </ion-label>
        <ion-icon (click)="CreatePopover()" slot="end" class="info" name="information-circle"></ion-icon>
      </ion-item>

      <ion-item class="list">
        <ion-avatar slot="start"> <img src="..\..\assets\image\avatar.svg"></ion-avatar>
        <ion-label>
          <h2>12. tammikuuta 2020 klo 7.30</h2>
          <h2>Tuirasta</h2>
          <h2>Kontinkankaan kampukselle</h2>
        </ion-label>
        <ion-icon (click)="CreatePopover()" slot="end" class="info" name="information-circle"></ion-icon>
      </ion-item>

      <ion-item class="list">
        <ion-avatar slot="start"> <img src="..\..\assets\image\avatar.svg"></ion-avatar>
        <ion-label>
          <h2>11. tammikuuta 2020 klo 7.30</h2>
          <h2>Kaijonharjusta</h2>
          <h2>Kontinkankaan kampukselle</h2>
        </ion-label>
        <ion-icon (click)="CreatePopover()" slot="end" class="info" name="information-circle"></ion-icon>
      </ion-item>
  
    </ion-list>

</ion-content>
