ion-content{
    --background: #6FB4CA;
    --color: #fff;
}

ion-button{
    --background: #2B4FAB;
    max-width: 600px;
    width: 90vw;
    margin-bottom: 17px;
}

ion-item{
    --background: rgba(255,255,255,0.7);
    border-radius: 10px;
    margin-bottom: 10px;
}

a{
    color: #2B4FAB;
}

//VIEWPORT TUTORIAALI
//Tuo "90vw" meinaa sitä, että se <div>in minkä lie leveys
//on aina 90% viewportin, eli ikkunan/ruudun leveydestä.
//max-width estää sitä koko paskaa leviämästä koko tietokoneen
//ruudun leveydeksi.
.boob {
    display:inline-block;
    width: 90vw;
    max-width: 600px
}

.xc {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
    margin-bottom:30px;
}