<ion-header>
</ion-header>

<ion-content class="xc">

  <div class="center">
    <img src="..\..\assets\image\logo.png">
  </div>

  <div class="ion-text-center ion-align-self-center">
  <form>
 

    <div class="boob">
    <ion-item>
      <ion-input type="text" class="ion-text-left" value="stout.shako4@tworefined.tf" placeholder="Käyttäjänimi" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" class="ion-text-left" value="demodemopan" placeholder="Salasana" required></ion-input>
    </ion-item>
    </div>
    <div>
        <ion-button (click)="login()">Kirjaudu</ion-button>
    </div>
        <div>
        <a [routerLink]="['/register']" class="small-text">Tai luo uusi käyttäjä</a>
        </div>
  </form>
</div>
</ion-content>