
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-row>

          <ion-col>
            <p>Jaana J. tarjoaa kyytiä</p>
            <p>Linnanmaan kampukselle</p>
            <p>Kempeleestä</p>
            <p>Lähtöaika: 8.30</p>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
    
            <p>Pyydä kyytiä paikasta:</p>
            <ion-input type="text" name="address" class="ion-text-left" placeholder="Osoitteesi" required></ion-input>
            <p>Kellonaikaan:</p>
            <ion-input type="time" name="time" required></ion-input>
    
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
    
            <ion-button class="ei ion-text-capitalize" fill="clear" color="#BF1D1D" (click)="ClosePopover()">
              Peruuta
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="joo ion-text-capitalize" fill="clear" color="#449CCE" (click)="ClosePopover()">
              Lähetä
            </ion-button>
    
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
