ion-grid{
    background-color:#ecf4f8;
}

.ei {
    background-color:#BF1D1D;
    color:#fff;
    border-radius:10px;
    margin-top:0px;
    margin-bottom:0px;
}

.joo{
    background-color:#449CCE;
    color:#fff;
    border-radius:10px;
    margin-top:0px;
    margin-bottom:0px;
}

p{
    margin-top:3px;
    margin-bottom:3px;
}

ion-input{
    margin-top:0px;
    margin-bottom:0px;
}