ion-menu{
    ion-content{
        --ion-background-color: #6FB4CA;
    }
}

ion-header{
    --ion-background-color: #6FB4CA;
}

ion-toolbar{
    --ion-background-color: #6FB4CA;
}

ion-title{
    color:#fff;
}

.help{
    color:rgb(51,83,93);
    width: 35px;
    height: 35px;
}

.button-bottom{
    position: absolute;
    bottom: 4%;
}

.color{
    color:#000;
}

h2{
    margin-left:20px;
    color:#fff;
}

ion-avatar{
    max-width:100%;
    max-height:100%;
    width:100px;
    height:100px;
    margin-left:10px;
    margin-top: 30px;
    margin-bottom:20px;
}