<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-avatar slot="start"><img src="..\..\assets\image\avatar.svg"></ion-avatar>
        <h2>Pena Hulvaton</h2>
      </ion-toolbar>
    </ion-header>

    <ion-content class="custom">
      <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
              <h5>{{pages.title}}</h5>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-button fill="clear" class="button-bottom" (click)="CreatePopover()">
        <ion-icon name="help-circle" slot="icon-only" class="help"></ion-icon>
        <h5 class="ion-text-capitalize color">&nbsp;Apua</h5>
      </ion-button>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>