
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-row>

          <ion-col>
            <p>Ritva T. pyytää kyytiä</p>
            <p>Linnanmaan kampukselle</p>
            <p>Kaijonharjusta</p>
            <p>Kyydin saapumisaika: 8.00</p>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col size="6">
    
            <ion-button class="ei ion-text-capitalize" fill="clear" color="#BF1D1D" (click)="ClosePopover()">
              Ei
            </ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button class="joo ion-text-capitalize" fill="clear" color="#449CCE" (click)="ClosePopover()">
              Hyväksy
            </ion-button>
    
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
