


<ion-content>
  <ion-grid>
    <ion-row>
      
        <ion-col size="9">
          <h4>Kuinka tätä appia käytetään?</h4>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="ClosePopover()" fill="clear" class="button" ><ion-icon class="punane" slot="icon-only" name="close-circle"></ion-icon></ion-button>
        </ion-col>
      
    </ion-row>
    
    
    <ion-row>
      <ion-col>

        <ion-row>
          <ion-col size="9.5">
            Voit luoda uuden kyytipyynnön tai ajoilmoituksen painamalla sinistä auton kuvaa alkunäytön alareunassa.
          </ion-col>
          <ion-col size="2.5" vertical="center">
            <ion-avatar class="blue"><ion-icon name="car"></ion-icon></ion-avatar>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="9.5">
            Aloitus sivulla voit, painamalla puhekuplaa, kysyä kyytiä tarpeidesi mukaan.
          </ion-col>
          <ion-col size="2.5">
            <ion-avatar class="light"><img src="..\..\assets\image\add_comment-white.svg"></ion-avatar>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="9.5">
            Jos sinulla on jo auto, voit ottaa kyytiisi matkustaji painamalla “lisää matkustaja” -nappia.
          </ion-col>
          <ion-col size="2.5">
            <ion-avatar class="light"><ion-icon name="person-add"></ion-icon></ion-avatar>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
