ion-avatar{
    width:30px;
    height:30px;
    
}

ion-icon{
    color:#fff;
    height:24px;
    width:24px;
    margin-top:2px;
    margin-left:3px;
}

ion-grid{
    background-color:#ecf4f8;
}

img{
    height:24px;
    width:24px;
    margin-top:3px;
    margin-left:3px;
}

.light{
    background-color:#C4DDEB;
    margin-top:30px;
}

.blue{
    background-color:#2B4FAB;
    margin-top:40px;
}

.punane{
    color:#BF1D1D;
}

.button{
    align-content: flex-end;
}