<ion-header [translucent]="true" class="">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      XtremeDrive
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="">

  <ion-list lines="none">

    <ion-item class="info">
      
      <ion-label>
        <ion-row>
          <ion-col size="10.4">
            <h2>Muistutus!</h2>
          </ion-col>
          <ion-col size="1.6">
            <ion-button fill="clear" class="button-end"><ion-icon slot="icon-only" name="information-circle" class="infob"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        <h3>Sinua tullaan hakemaan tänään klo 7:40</h3>
        <h3>Osoitteesta Wiinerimunkintie 3c 90570 Oulu</h3>
      </ion-label>
      
    </ion-item>

  </ion-list>
  
  <ion-list lines="none">

    <ion-list-header>
      <h2><b>Lähtevät</b></h2>
    </ion-list-header>
 
    <ion-item class="list" *ngFor="let item of offer">
      <ion-avatar class="margin" slot="start"> <img src="..\..\assets\image\avatar.svg"></ion-avatar>
      <ion-label>
        <h3><b class="ion-text-uppercase">{{item.paiva}} {{item.aika}}</b> lähtevä</h3>
        <h4>{{item.kunta}}</h4>
        <h4>{{item.kohde}}</h4>
      </ion-label>
      <ion-avatar class="light" slot="end" (click)="CreatePopover2()"> <img class="smaller" src="..\..\assets\image\add_comment-white.svg"></ion-avatar>
    </ion-item>

  </ion-list>

  <ion-list lines="none">

    <ion-list-header>
      <h2><b>Kyytipyynnöt</b></h2>
    </ion-list-header>
 
    <ion-item class="list" *ngFor="let item of request">
      <ion-avatar class="margin" slot="start"> <img src="..\..\assets\image\avatar.svg"></ion-avatar>
      <ion-label>
        <h3><b class="ion-text-uppercase">{{item.paiva2}} {{item.aika2}}</b> saapuva</h3>
        <h4>{{item.kaupunginosa2}}, {{item.kunta2}}</h4>
        <h4>{{item.kohde2}}</h4>
      </ion-label>
      <ion-avatar class="light" slot="end" (click)="CreatePopover3()"> <img class="smaller" src="..\..\assets\image\person_add-white.svg"></ion-avatar>
    </ion-item>

  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="CreatePopover()" color="primary">
      <ion-icon class="car-btn" name="car"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
