#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar {
  --background: #449CCE;
  color:#fff;
  
}

ion-list-header {
  font-size: 16px;
  font-weight: bold;
}

ion-avatar {
  max-width: 100%;
  max-height: 100%;
  width:55px;
  height:55px;
  align-content: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  width:55px;
  height:55px;
}

.margin{
  margin-right:10px;
}

.list {
  --background: solid;
  background-color: #6FB4CA;
  margin-top: 5px;
  margin-bottom: 5xp;
}

.light {
  background-color: #C4DDEB;
  
}

.smaller {
  max-width: 100%;
  max-height: 100%;
  width:45px;
  height:45px;
  margin-left:4px;
  margin-top:5px;
}

.car-btn{
  max-width: 100%;
  max-height: 100%;
  width:45px;
  height:45px;
}

.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.infob{
  color:#8C9FAB;
}

.info{
  --background:solid;
  background-color:#D9E4EB;
  margin:10px;
  border-radius:10px;
  padding:0px
}

.button-end{
  align-content: flex-end;
}

ion-content{
  --background: #ffffff;
  --color: #fff;
}