ion-toolbar {
    --background: #449CCE;
    color:#fff;
    
  }

.addbutton {
  margin-top: 70px;
  --background: #449CCE;
  width: 100px;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
}

h3{
  margin-left: 15px;
  margin-top: 30px;
}

.margin{
  margin-top: 15px
}

ion-item{
  width: 95%;
}