<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lisää uusi pyyntö</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item class="margin">
      <ion-label>Kunta</ion-label>
      <ion-input type="text" name="kunta" [(ngModel)]="kunta2" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Kaupunginosa</ion-label>
      <ion-input type="text" name="kaupunginosa" [(ngModel)]="kaupunginosa2" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Osoite</ion-label>
      <ion-input type="text" name="osoite" [(ngModel)]="osoite2" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mihin?</ion-label>
      <ion-select [(ngModel)]="kohde2" required>
        <ion-select-option value="tepa">Teuvo Pakkalan kampus</ion-select-option>
        <ion-select-option value="linnanmaa">Linnanmaan kampus</ion-select-option>
      </ion-select>
    </ion-item>
    <h3>Saapumisaika?</h3>
    <ion-item>
      <ion-label>Päivä</ion-label>
      <ion-select  [(ngModel)]="paiva2" required>
        <ion-select-option value="maanantai">Maanantai</ion-select-option>
        <ion-select-option value="tiistai">Tiistai</ion-select-option>
        <ion-select-option value="keskiviikko">Keskiviikko</ion-select-option>
        <ion-select-option value="torstai">Torstai</ion-select-option>
        <ion-select-option value="perjantai">Perjantai</ion-select-option>
        <ion-select-option value="lauantai">Lauantai</ion-select-option>
        <ion-select-option value="sunnuntai">Sunnuntai</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Aika</ion-label>
      <ion-input type="time" name="aika" [(ngModel)]="aika2" required></ion-input>
    </ion-item>
  
  
    <ion-row>
      <ion-col size="7"></ion-col>
      <ion-col size="5">
        <ion-button class="addbutton ion-text-capitalize" (click)="save2()">
          Lisää
        </ion-button>
      </ion-col>
      
    </ion-row>
    
  


</ion-content>