ion-content{
    --background: #6FB4CA;
    --color: #fff;
}

ion-button{
    --background: #2B4FAB;
    max-width: 600px;
    width: 90vw;
    margin-bottom: 17px;
}

ion-item{
    --background: rgba(255,255,255,0.7);
    border-radius: 10px;
    margin-bottom: 10px;
}


a{
    color: #2B4FAB;
}

.boob {
    display:inline-block;
    width: 90vw;
    max-width: 600px
}

.xc {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}