<ion-header>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-align-self-center xc">
  <form>
          <div>
            <h3>Rekisteröinti</h3>
          </div>
          <div class="boob">
    <ion-item>
      <ion-input type="text" class="ion-text-left" placeholder="Käyttäjänimi" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" class="ion-text-left" placeholder="Sähköposti" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="tel" class="ion-text-left" placeholder="Puhelinnumero" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="password" class="ion-text-left" placeholder="Salasana" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="password" class="ion-text-left" placeholder="Salasana uudestaan" required></ion-input>
    </ion-item>
    
  </div>
<div padding>
      <div>
        <ion-button [routerLink]="['/home']" type="submit">Luo tili</ion-button>
      </div>
        <a [routerLink]="['/login']" class="small-text">Onko sinulla jo tili? Kirjaudu sisään</a>
      </div>

  </form>
</div>
</ion-content>